* {
  font-family: "Poppins", sans-serif;
}

.container-section {
  margin: 0 auto;
  max-width: 1200px;
}

.text-color-secondary {
  color: var(--ion-color-secondary);
}

swiper-container {
  img,
  ion-card {
    border-radius: 20px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-center {
  text-align: center;
  flex-direction: column;
}

.title {
  padding: 90px 0px;
  background-image: url("../../../assets/img/background.png");
  background-size: cover;

  ion-text {
    font-size: 1rem;
    margin: 10px 0px;
    display: block;
  }

  ion-card {
    border-radius: 20px;

    margin: 5px 20px;

    img {
      display: block;
      max-height: 450px;
      width: 100%;
      object-fit: cover;
      padding-top: 10px;
    }
  }

  span {
    color: var(--ion-color-primary);
    font-weight: 700;
  }
}

.detail {
  position: relative;
  margin-bottom: 90px;
}

.detail::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70px;
  background-color: var(--ion-color-primary);
  left: 50%;
  bottom: -80px;
}

.history {
  h1 {
    color: var(--ion-color-secondary);
    font-weight: 700;
  }
}

.footer {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
  padding: 20px 0px;
  text-align: center;
}

@media (min-width: 768px) {
  .flex {
    gap: 20px;
  }

  .title {
    height: 900px;
  }
}
