<main class="flex-center container">
  <section class="title flex text-color flex-center">
    <ion-card>
      <img src="../../../assets/img/logo.png" alt="Logo">
      <ion-card-header *ngIf="authService.user">
        <ion-card-title>
          Olá, <span>{{authService.user.name || authService.user.email}}</span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="secondary">
          Sejam bem-vindos ao Livro de Recados Virtual do Casamento de Melissa e Matheus.
        </ion-text>

        <ion-text>
          Que alegria tê-los aqui para celebrar conosco este dia tão especial! Para tornar este momento ainda mais inesquecível, convidamos vocês a gravar uma mensagem de carinho para os noivos.
        </ion-text>
        <ion-text>
          Sua mensagem é um presente único e especial que os noivos vão adorar receber.
          A mensagem será guardada para sempre e os noivos poderão ouvi-la quantas vezes quiserem
        </ion-text>
        <ion-text>
          Esperamos que você se divirta gravando sua mensagem e obrigado por participar deste momento tão importante!
        </ion-text>

        <ion-button (click)="loginOrLogout()" shape="round" size="small" *ngIf="!authService.user">Clique aqui para enviar uma mensagem</ion-button>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="container-section history">
    <h1 class="detail">
      Nossa História
    </h1>

    <swiper-container navigation="true" [pagination]="{clickable: true}" autoplay="true" keyboard="true" [zoom]="true" effect="cards" class="detail">
      <swiper-slide *ngFor="let photo of photos" lazy="true" class="ion-margin">
        <ion-card>
          <img [src]="photo.src" alt="Casal" loading="lazy">
          <ion-card-header>
            <ion-card-title>{{photo.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{photo.content}}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </section>
</main>

<footer class="footer">
  <h2>Agradecemos a sua presença</h2>
  <p>Seja bem-vindo ao nosso casamento. Aqui você pode enviar vídeos para a gente.</p>
</footer>