#message,
#send,
#data,
#progressBar, #videoPlay {
  display: none;
}

p{
  padding: 0px;
  margin: 0px;
}

.hiddenBtn{
  display: none;
}

button,
input {
  cursor: pointer;
}

#labelData {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}


#uploadForm{
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: rgb(89, 148, 140);
  margin-top: 0;
  margin-bottom: 0;
}
