<app-header></app-header>
<ion-content [fullscreen]="true">
  <main class="container-section">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Puxe para atualizar" refreshingSpinner="crescent" refreshingText="Atualizando...">
      </ion-refresher-content>
    </ion-refresher>

    <app-post [items]="items" [postType]="'video'"></app-post>

    <ion-infinite-scroll *ngIf="!infiniteDisabled" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Carregando..." loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </main>
</ion-content>