.container-section {
  margin: 0 auto;
  max-width: 1200px;
}

ion-list {
  ion-card {
    width: 100%;

    ion-card-header {
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }

    ion-card-content {
      display: flex;
      flex-direction: column;

      p {
        padding: 15px 0 0 0;
      }
    }
  }
}