<ion-app>
  <ion-menu contentId="menu" type="reveal" *ngIf="authService.user">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-text>
                <h2>Menu</h2>
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-chip (click)="showProfile($event)">
                <ion-avatar>
                  <img alt="Picture" src="{{authService.user.picture}}" />
                </ion-avatar>
                <ion-label>{{authService.user.name || authService.user.email || 'perfil'}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/marriage">
            <ion-label>Home</ion-label>
            <ion-icon name="home" slot="start"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/received">
            <ion-label>Mensagens Recebidas</ion-label>
            <ion-icon name="chatbox" slot="start"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-button (click)="authService.logout()" color="medium" expand="full">
            Sair
            <ion-icon icon-only name="exit" slot="start"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>