.container-section {
  margin: 0 auto;
  max-width: 1200px;
}

ion-list {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;

  ion-card {
    width: 100%;

    ion-card-header {
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }

    ion-card-content {
      .datePadding {
        padding: 15px 0 0 0;
      }
      p {
        white-space: pre-line;
      }
    }
  }
}

@media (max-width: 1100px) {
  ion-list {
    grid-template-columns: 1fr;
  }
}
