img {
  padding: 15px;
  max-height: 400px;
  max-width: 100%;
  border-radius: 50px;
}

ion-title {
  font-size: 1.5rem;
  padding: 15px 0px;
}

swiper-container {
  max-width: 1200px;
}

swiper-slide {
  padding: 10px 0px;
}

ion-card {
  border-radius: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.flex-center {
  padding-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
