#login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  max-width: 300px;

  background-color: var(--login);

  border-radius: 20px;

  #form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    #data {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
