<ion-content [fullscreen]="true">
  <div class="container">
    <div id="login-container">
      <ion-title size="large" class="ion-padding">Hello {{user ? user.name : 'user'}}</ion-title>

      <form [formGroup]="form" (submit)="sendVideo($event)" id="form">
        <ion-input type="file" name="data" accept="video/*" required formControlName="data" id="data" id="data" hidden (ionChange)="verifyForm()"></ion-input>

        @if(showSubmit){
        <ion-button type="submit" *ngIf="showSubmit">Enviar</ion-button>
        <ion-button type="reset" (click)="showSubmit = !showSubmit">Limpar</ion-button>
        }
      </form>

      <ion-progress-bar *ngIf="showProgressBar" [buffer]="buffer" [value]="progress"></ion-progress-bar>

      <p *ngIf="message.length > 1">{{message[0]}} Link: <a [href]="message[1]" target="_blank">{{message[1]}}</a></p>

      <ion-button (click)="logout()" size="small">Logout</ion-button>
    </div>
  </div>
</ion-content>