<ion-content [fullscreen]="true">
  <div id="container" class="flex flex-column">
    <div id="media-container">
      <ion-segment *ngIf="!isSending" [(ngModel)]="formType" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="video">
          <ion-icon name="videocam"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="photo">
          <ion-icon name="camera"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="comment">
          <ion-icon name="chatbox"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <img [src]="photoURL || '../../../assets/img/logo.png'" id="image" *ngIf="!videoURL">
      <video [src]="videoURL" id="videoPlayer" controls *ngIf="file && videoURL"></video>

      <form (submit)="sendForm($event)" id="form" class="flex" *ngIf="!isSending">

        @if(formType !== 'comment'){
        <ion-text>
          <p>{{ fileName || ('Pressione o ícone para enviar ' + (formType === 'video' ? 'um vídeo' : 'uma foto')) }}</p>
        </ion-text>
        <label [for]="formType" id="{{formType}}Text">
          <ion-icon [name]="formType === 'video' ? 'videocam' : 'camera'" size="large" color="primary"></ion-icon>
        </label>
        }

        <div class="flex flex-column comment-width" *ngIf="formType !== 'video'">
          <ion-chip class="comment-width" (click)="openCommentModal()">
            <ion-avatar>
              <img alt="{{authService.user?.name}}" src="{{ authService.user?.picture || 'https://ionicframework.com/docs/img/demos/avatar.svg'}}" />
            </ion-avatar>
            <ion-label class="comment-width">
              <ion-text color="secondary">
                {{authService.user?.name}}
              </ion-text>
              <p>{{comment || 'Pressione aqui para digitar a mensagem'}}</p>
            </ion-label>
          </ion-chip>

          <ion-textarea [(ngModel)]="comment" placeholder="Digite sua mensagem pressionando abaixo" [minlength]="minContentLength" [maxlength]="maxContentLength" id="content" name="content" required></ion-textarea>

          <ion-button *ngIf="comment?.length" (click)="clearTextArea()" shape="round" fill="clear" size="small">
            <ion-icon icon-only name="trash" color="danger"></ion-icon>
          </ion-button>
        </div>

        <input *ngIf="formType !== 'comment'" type="file" [name]="formType" [accept]="formType === 'video' ? 'video/*' : 'image/*'" capture required [id]="formType" hidden (change)="onFileChange($event)">

        <div *ngIf="showSubmit" class="flex">
          <ion-button type="reset" (click)="reset()" color="medium" size="small" shape="round">Cancelar</ion-button>
          <ion-button type="submit" size="small" shape="round">Enviar</ion-button>
        </div>

      </form>

      @if(showProgressBar){
      <ion-progress-bar [buffer]="buffer" [value]="progress"></ion-progress-bar>
      <ion-text>
        <p>{{percent}}%</p>
      </ion-text>
      }
    </div>
  </div>

  <div>
  </div>
</ion-content>