<ion-content [fullscreen]="true">
  <div id="container">
    <div id="media-container">
      <ion-segment *ngIf="!isSending" [(ngModel)]="formType" (ionChange)="onSegmentChanged($event)" ngDefaultControl>
        <ion-segment-button value="video">
          <ion-icon name="videocam"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="photo">
          <ion-icon name="camera"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="comment">
          <ion-icon name="chatbox"></ion-icon>
        </ion-segment-button>
      </ion-segment>

      <img [src]="photoURL || '../../../assets/img/logo.png'" id="image" *ngIf="!videoURL">
      <video [src]="videoURL" id="videoPlayer" controls *ngIf="file && videoURL"></video>


      <form (submit)="sendForm($event)" id="form" *ngIf="!isSending">

        @if(formType !== 'comment'){
        <ion-text>
          <p>{{ fileName || ('Clique no ícone para enviar ' + (formType === 'video' ? 'um vídeo' : 'uma foto')) }}</p>
        </ion-text>
        <label [for]="formType" id="{{formType}}Text">
          <ion-icon [name]="formType === 'video' ? 'videocam' : 'camera'" size="large" color="primary"></ion-icon>
        </label>
        }

        <div class="flex" *ngIf="formType !== 'video'">
          <ion-textarea [(ngModel)]="comment" placeholder="Digite sua mensagem" autoGrow="true" [counter]="true" [minlength]="minContentLength" [maxlength]="maxContentLength" id="content" name="content" (input)="onCommentInput($event)" errorText="Mensagem muito curta" required></ion-textarea>

          <ion-button class="floating" (click)="clearTextArea()" shape="round" fill="clear" *ngIf="comment?.length! < 10">
            <ion-icon icon-only name="trash" color="medium"></ion-icon>
          </ion-button>
        </div>

        <input *ngIf="formType !== 'comment'" type="file" [name]="formType" [accept]="formType === 'video' ? 'video/*' : 'image/*'" capture required [id]="formType" hidden (change)="onFileChange($event)">

        <div *ngIf="showSubmit" id="buttons">
          <ion-button type="reset" (click)="reset()" color="medium">Cancelar</ion-button>
          <ion-button type="submit">Enviar</ion-button>
        </div>

      </form>

      @if(showProgressBar){
      <ion-progress-bar [buffer]="buffer" [value]="progress"></ion-progress-bar>
      <ion-text>
        <p>{{percent}}%</p>
      </ion-text>
      }
    </div>
  </div>

  <div>
  </div>
</ion-content>