.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  ion-chip {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }

  ion-button {
    --background: var(--ion-color-medium);
    --color: var(--ion-color-medium-contrast);
  }
}
