<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="message">
      <ion-icon aria-hidden="true" name="chatbox"></ion-icon>
      <ion-label>Mensagens</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="photo">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="video">
      <ion-icon aria-hidden="true" name="videocam"></ion-icon>
      <ion-label>Videos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>